<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Wordle busca de intentos</title>
</head>

<body>
    <h1>Busca en tus intentos</h1>
    <form action="/searchTry" th:object="${try}" method="POST">
        <input type="number" name="try" placeholder="Busca tu intento" min="1" th:max="${tries}" required autofocus style="width: 200px;"/>
        <input type="submit" value="Buscar" />
    </form>
    <p th:text="'Este es tu intento ' + ${try} + ' de ' + ${tries} + ' que has hecho'"></p>
    <th:block th:each="letter : ${searchTry}" th:text="${letter.letter}"></th:block>
    <table>
        <tr>
            <td>
                <a href="/wordle">Vuelve al juego</a>
            </td>
            <td>
                <a href="/">Menu</a>
            </td>
        </tr>
    </table>
</body>

</html>