<!DOCTYPE html>
<html>

<head>
    <!-- Import springboot -->
    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap-theme.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Wordle</title>
    <style >
        .base {
            font-size:3rem;
            width:5rem;
            height: 5rem;
            text-size-adjust:inherit;
        }
        .title {
            font-size: 3rem;
            text-align: center;
            text-size-adjust:inherit;
        }
    </style>
</head>

<body>
<!--
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 bg-dark text-light">
                <h1 class="title text-center">Wordle</h1>
            </div>
            <div class="col-2 bg-dark text-light">
                <h1 class="title text-center">[[${wordle.wordLength}]]L</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 bg-dark">
                <form class="form" th:action="@{/wordle}" th:object="${word}" method="POST">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <input type="text" name="word" placeholder="Enter a word" th:maxlength="${wordle.wordLength}" th:minlength="${wordle.wordLength}" autofocus/>
                        </div>
                        <div class="col-2">
                            <input type="submit" value="Add" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row justify-content-center justify-content-evenly  bg-dark" th:each="word, iter : ${wordle.words}">
            <div class="col border-dark-subtle" th:each="letter : ${word.letters}">
                <div th:text="${letter.letter}" th:class="'base border border-dark-subtle rounded mx-auto text-center ' + ${letter.color}" ></div>
            </div>
            <div class="col">
                <div class="base border border-dark rounded mx-auto text-center text-light" th:text="${iter.index}+1"></div>
            </div>
        </div>

    </div>
-->
    <table class="table table-dark text-center auto">
        <thead>
            <tr>
                <th class="title" th:colspan="${wordle.wordLength}">Wordle</th>
                <th class="title" th:text="${wordle.wordLength} + 'L'"></th>
            </tr>
            <tr>
                <form class="form" th:action="@{/wordle}" th:object="${word}" method="POST">
                    <th th:colspan="${wordle.wordLength}">
                        <input  type="text" name="word" placeholder="Enter a word" th:maxlength="${wordle.wordLength}" th:minlength="${wordle.wordLength}" autofocus/>
                    </th>
                    <th>
                        <input type="submit" value="Add" />
                    </th>
                </form>
            </tr>
        </thead>
        <!--
        <tbody>
            <tr class="flex-wrap" th:each="word, iter : ${wordle.words}" >
                <td class="col" th:each="letter : ${word.letters}" >
                    <div th:text="${letter.letter}" th:class="'base border border-light rounded mx-auto ' + ${letter.color}" ></div>
                </td>
                <td class="base" th:text="${iter.index}+1"></td>
            </tr>
        </tbody>
        -->
        <tbody>
            <th:block th:with="words=${wordle.words}">
                <th:block th:each="index : ${#numbers.sequence(words.size(), 1, -1)}">
                    <tr class="flex-wrap">
                        <th:block th:with="word=${words[index-1]}">
                            <th:block th:each="letter : ${word.letters}">
                                <td class="col">
                                    <div th:text="${letter.letter}" th:class="'base border border-light rounded mx-auto ' + ${letter.color}" ></div>
                                </td>
                            </th:block>
                            <td class="base" th:text="${index}"></td>
                        </th:block>
                    </tr>
                </th:block>
            </th:block>
        </tbody>
        
        
        
    </table>
    
</body>

</html>